POSTGRES_USER=app
POSTGRES_PASSWORD=hackme
POSTGRES_DB=audio
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
GOOSE_DRIVER=postgres
GOOSE_DBSTRING="postgres://app:hackme@localhost:5432/audio?sslmode=disable"